.navigation {


    background-color: rgb(184, 182, 194);
}

.navsection {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50px 50px 50px 50px;
    margin-bottom: 15px;

}

.navsection a {
    font-weight: bold;

    font-size: 20px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: rgb(25, 153, 25);
}

/* oporet ta repeted code */
.aboutsection {
    background-image: url("img/6.avif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    border: 2px solid rebeccapurple;


}

.aboutnavigation {
    font-size: xx-large;
    margin-top: 220px;
    margin-left: 60px;


}

.aboutnavigation li a {
    text-decoration: none;
}

.aboutsection1 {
    border: 2px solid red;
    display: flex;
    margin: 10px 60px;
    padding: 20px 30px;
}

.section1details {
    /* border: 2px solid yellow; */
    margin-right: 10px;
    padding-right: 10px;
}

.section1details button {
    margin-top: 40px;
}

.button {
    padding: 10px 20px;
    background-color: #3498db;

    color: #fff;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;

}

.button:hover {
    background-color: #2980b9;

}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        display: block;
    }

    .aboutsection1 {

        display: block;
    }
}

@media (min-width: 1025px) {}