/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.navigation {


    background-color: rgb(184, 182, 194);
}

.navsection {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50px 50px 50px 50px;

}

.navsection a {
    font-weight: bold;

    font-size: 20px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: rgb(25, 153, 25);
}

.animation {
    color: rgb(11, 121, 97);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #151515;
}

.circle1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid #fe444425;
    border-top: 3px solid red;
    animation: ani 3s linear infinite;

}

.circle2 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #fee84422;
    border-top: 3px solid yellow;
    animation: ani 2s linear infinite;

}

@keyframes ani {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        display: inline-block;

    }
}

@media (min-width: 1025px) {}