/* Home */
.navigation {


    background-color: rgb(184, 182, 194);
}

.navsection {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50px 50px 50px 50px;

}

.navsection a {
    font-weight: bold;

    font-size: 20px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: rgb(25, 153, 25);
}


.section1 {
    margin-top: 10px;
    padding-top: 300px;
    color: #fff;
    text-align: center;
    border: 2px solid red;
    background-image: url('./img/IMG-20231026-WA0017.jpg');

    background-size: cover;

    background-position: center center;

    background-repeat: no-repeat;
    height: 400px;
}

.section1 h1 {
    font-weight: bold;

    font-size: 80px;
}

.section1 img {
    margin-left: 40px;
    margin-right: 20px;
    width: 1200px;
    height: 400px;
}

.section2 {
    font-size: x-large;
    background-color: #5f3c3c;
    height: 320px;
    margin: 30px 40px;
    padding: 10px;
    border: 2px solid salmon;
}

.section2 img {
    width: 300px;
    height: 300px;
    margin: 15px 10px;
    float: right;

}

.button {
    padding: 10px 20px;
    background-color: #3498db;

    color: #fff;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;

}

.button:hover {
    background-color: #2980b9;

}

.section3 {
    font-size: x-large;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 40px;
    border: 2px solid yellow;
    display: flex;
    background-color: forestgreen;

}

.section3 div img {
    width: 300px;
    height: 300px;
    margin: 15px 10px;
}

.footer {

    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    background-color: rgb(77, 80, 72);
}

/* About */
.aboutsection {
    background-image: url("img/6.avif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    border: 2px solid rebeccapurple;


}

.aboutnavigation {
    font-size: xx-large;
    margin-top: 220px;
    margin-left: 60px;


}

.aboutnavigation li a {
    text-decoration: none;
}

.aboutsection1 {
    border: 2px solid red;
    display: flex;
    margin: 10px 60px;
    padding: 20px 30px;
}

.section1details {
    /* border: 2px solid yellow; */
    margin-right: 10px;
    padding-right: 10px;
}

.section1details button {
    margin-top: 40px;
}

.button {
    padding: 10px 20px;
    background-color: #3498db;

    color: #fff;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    font-size: 16px;

}

.button:hover {
    background-color: #2980b9;

}









/* location */
.location {


    font-size: 16px;
    color: #f3f3f3;
    padding-left: 20px;
    padding-top: 150px;
    margin-left: 20px;

    font-size: xx-large;
    font-weight: bold;


}

.locasection1 {
    display: flex;
    margin: 20px;

    background-image: url('./img/IMG-20231026-WA0020.jpg');

    background-size: cover;

    background-position: center center;

    background-repeat: no-repeat;
    justify-content: space-between;
    padding: 30px;
}



/* Contact */


.animation {
    color: rgb(11, 121, 97);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: #151515;
}

.circle1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid #fe444425;
    border-top: 3px solid red;
    animation: ani 3s linear infinite;

}

.circle2 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #fee84422;
    border-top: 3px solid yellow;
    animation: ani 2s linear infinite;

}

@keyframes ani {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 300px) and (max-width: 1024px) {
    * {}
}

@media (min-width: 1025px) {
    * {}
}